html {
    background-image: url(https://cdn.pixabay.com/photo/2019/05/18/13/34/branches-4211837_960_720.jpg);
    background-repeat: repeat;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(50, 73, 90, 0.9);
    min-height: 800px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: auto;
    width: 80%;
    padding: 4em 5em 4em;
}

h1, h2, h3 {
    color: antiquewhite
}

input {
    width: 70%;
    float: left;
    padding: 10px;
    font-size: 18px;
    background-color: antiquewhite;
    border: solid #4c5d69 1px;
}

button {
    padding: 10px;
    margin-left: 10px;
    width: 25%;
    font-size: 18px;
    background: #faebd7;
    color: #555;
    border: solid #555 1px;
    display: inline-block;
}

button:hover{
    background: #e5d6c3;
}

ul {
  list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    background-color: antiquewhite;
    padding: 12px 8px 12px 40px;;
    margin: 5px;
    position: relative;
}

.comp li {
    color: #6a6a6a;
  text-decoration: line-through;
    background-color: rgb(250, 235, 215, 0.5);
}


.close {
    float: right;
    right: 0;
    left: 0;
    padding: 0px 16px 0px 16px;
    cursor: pointer;
}

.check {
    float: right;
    right: 0;
    left: 0;
    padding: 0px 16px 0px 16px;
    cursor: pointer;
}
